{% extends "index.html" %}

{% block captura  %}

<script>
	function my_js_callback(data){
	    alert(data.message);
	}

	function decode_utf8(s) { 
		return decodeURIComponent(escape(s)); 
	}

	$(function(){
		var datos = {{nombres|safe}}
		//Limpia caracteres extraños
		$(datos).each(function (){
			$(this)[0]['value'] = decode_utf8($(this)[0]['value']);
		});
		// setup autocomplete function pulling from currencies[] array
		$('#nombre').autocomplete({
			lookup: datos
		});
	});
</script>

	<h3 class="bg-primary box-shade">Camas ocupadas {{n}}</h3>
	
	<form action="" class="form busqueda">
		<div class="row">
			<div  class="form-group col-sm-12 col-xs-12 col-md-4 col-lg-6">
				<input type="text" class="form-control" id="nombre" name="nombre" placeholder="Nombre o numero de seguridad social del paciente"> 
			</div>
			<div  class="form-group col-sm-12 col-xs-12 col-md-3 col-lg-1">
				<button type="button" class="button btn-primary form-control" id="BedSearch">
					<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
				</button>
			</div>
		</div>
	</form>
	
	<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
		<div class="panel panel-default">
			{% for sect in seccion %}
				<div class="panel-heading" role="tab" id="headingOne">
					<h4 class="panel-title">
						{% if sect.seccion == '5to sur' %}
						<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
						{% elif sect.seccion == '6to sur' %}
						<a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
						{% elif sect.seccion == '5to norte' %}
						<a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
						{% else %}
						<a data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
						{% endif %}
							<p class="text-info"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> {{sect.seccion}}</p> 
						</a>
					</h4>
				</div>
				{% if sect.seccion == '5to sur' %}
				<div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
				{% elif sect.seccion == '6to sur' %}
				<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
				{% elif sect.seccion == '5to norte' %}
				<div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
				{% else %}
				<div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
				{% endif %}
					<div class="panel-body" >
					{% for cama in camas %}
						{% if sect.seccion == cama.seccion %}
							{% if cama.nombre %}
								<a href="../formatos/{{cama.nss}}/{{cama.cama}}" name="{{cama.nombre}} - {{cama.nss}}" class="btn btn-primary btn-lg col-xs-5 col-sm-5 col-lg-1 camas" role="button">
									{{cama.cama}}
								</a>
							{% else %}
								<a href="../formatos/{{cama.nss}}/{{cama.cama}}" name="{{cama.nombre}}" class="btn btn-default btn-lg col-xs-5 col-sm-5 col-lg-1 camas" role="button">
									{{cama.cama}}
								</a>
							{% endif %}
						{% endif %}
					{% endfor %}
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
	

{% endblock %}