{% extends "index.html" %}

{% block captura  %}
<script type="text/javascript">
	$(document).ready(function(){
	    $('[data-toggle="tooltip"]').tooltip({
	        placement : 'top'
	    });
	    if ('{{next}}' == 'True') {
			$('input').each(function(){
		       $(this).prop('disabled', true);
		    })
		    $('textarea').each(function(){
		       $(this).prop('disabled', true);
		    })
		};
		$(function () {
		  $('[data-toggle="popover"]').popover()
		})
	});
</script>
<script>
	function calculate(){
		Dajaxice.captura.Concat(Dajax.process,{'a':$('#a').val(),'b':$('#b').val()})
	}
</script>

<div class="row">
	<h3 class="bg-info">
		{% if ingreso %}
			{% for item in ingreso %}
				<a href="#"  class="btn btn-info btn-sm" data-toggle="popover" title="NSS" data-placement="bottom" data-content="{{item.nss}}">
					<span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
				</a>
				{{item.nombre}}  &nbsp;
				{{item.cama}}  &nbsp;
			{% endfor %}
		{% endif %}
	</h3>

</div>
	<form action="" class="form-inline" role="form" method="post" id="captura">{% csrf_token %}
		<table class="table table-condensed">
			<tr>
				{% for campo in form  %}
						<td>
							<div class="form-group">
								{% if campo.name != 'nss' %}
									{{campo.label}}
								{% endif %}
								{{campo}}
							</div>
						</td>
						{% if campo.errors %}
							<td>
								<a href="#" data-toggle="tooltip" data-original-title="{{campo.errors.as_text}}" class="error">
									<span class="glyphicon glyphicon-exclamation-sign" data-toggle="tooltip" data-original-title="{{campo.errors.as_text}}" aria-hidden="true"></span>
								</a>
							</td>
						{% endif %}
				{% endfor %}
			</tr>
		</table>
		<input class="btn btn-primary" type="submit" value="Guardar">
		{% if next %}
			<a href="../..{{url}}" class="btn btn-primary">Siguiente</a>
		{% endif %}
	</form>

{% endblock %}