
{% extends "index.html" %}

{% block captura  %}

<div class="row">
	<h3 class="bg-primary">
		{% if paciente %}
			{% for item in paciente %}
				{{item.nombre}}  &nbsp;
				{{item.cama}}  &nbsp;
				<a href="#menu-toggle"  class="btn btn-info btn-sm hidden-lg hidden-md lan">
					<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
				</a>
			{% endfor %}
 		{% else %}
 			<a href="../../paciente" class="btn btn-primary">Capturar nuevo paciente</a>
		{% endif %}
	</h3>

</div>

 <div id="wrapper">
        <!-- Sidebar -->
			<div id="sidebar-wrapper">
				<ul class="sidebar-nav">
					{% for nota in datos %}
						<li role="presentation">
							<a href="#{{nota.id}}" aria-controls="{{nota.id}}" role="tab" data-toggle="tab" class="lan">{{nota.descripcion}}</a>
						</li>	
					{% endfor %}
				</ul>
			</div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="tab-content">
						{% for nota in datos %}
							<div role="tabpanel" class="tab-pane col-sm-12 col-lg-9" id="{{nota.id}}">
								{% for item in paciente %}
									<a href="../../{{nota.url}}/{{item.nss}}" class="btn btn-primary">Capturar {{nota.descripcion}}</a>
								{% endfor %}
							</div>	
						{% endfor %}
					</div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->
 	<script>
		$(function () {
			$('#myTab a:last').tab('show')
		});
	    $("a.lan").click(function(e) {
	        if ($(window).width() < 993) {
	        	e.preventDefault();
	        	$("#wrapper").toggleClass("toggled");
			};
	    });
    </script>

{% endblock %}