body
{
	margin: 0 1em 0 1em;

}

h2
{
	text-align: center;
	margin:auto;
	padding: 0.2em 0 0.2em 0;
}

form
{
	
}

/*Login*/
#loginform
{	
	margin: auto;
	border-style: groove;
	border-radius: 5px;
	padding: 3em 2em 2em 0em;
}

#loginform input, img, label
{
	max-width: 100%;
	display: inline-block;
	margin: 0.5em 1em 0.5em 1em;
}

#logo
{
	max-width: 50%;
	min-width: 20%;
	height: auto;
	margin: auto;
}

/*Termina login*/

.busqueda
{
	margin: 1em 0 1em 0;
}

.row 
{
	text-align: center;
}

.row img 
{
	width: 140px;
}
.pacAlta
{
	margin: 1em 0 1em 0;
}


.items
{
	height: 4rem;
	margin: 0 1rem 0 0;
	border-color: #d3d3d3;
	border-radius: 5px;
	border-style: solid;
	border-width: 1px;
}

.panel-body
{

}

.camas
{

	margin:  0.5rem 0.5rem 0.5rem 0.5rem;
	padding: 0.5rem 0.5rem 0.5rem 0.5rem;
}

.resumen
{
	margin: 0 0 0 0.5rem;
	font-size: 1rem;
}

@media screen and (min-width: 800px) {
	#loginform
		{	
			margin-top: 5em;
			width: 30%;
		}
	#captura
		{
			margin: auto;
			 width: 60%;
		}
}

@media screen and (max-width: 500px) {
	#loginform
		{	
			margin-top: 1em;
			width: 90%;
		}
	#captura
		{
			margin: auto;
			 width: 80%;
		}
}

/*!
 * Start Bootstrap - Simple Sidebar HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

/* Toggle Styles */

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 300px;
}

#sidebar-wrapper {
    z-index: 1000;
    border-radius: 5px;
    position: fixed;
    left: 300px;
    width: 0;
    height: 100%;
    margin-left: -300px;
    overflow-y: auto;
    background: #428bca;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 300px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -300px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 300px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #fff;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 300px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 300px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}