/*Login*/
#loginform
{
	max-width: 70%;
	min-width: 50%;
	margin: auto;
	margin-top: 3em;
	border-style: groove;
	border-radius: 5px;
	padding: 3em 2em 2em 0em;
}

#loginform input, img, label
{
	max-width: 100%;
	display: inline-block;
	margin: 1em 1em 1em 1em;
}

#logo
{
	max-width: 50%;
	min-width: 20%;
	height: auto;
	margin: auto;
}
/*Termina login*/

/*Formularios de captura*/
#tbl1
{
	padding: 1em 2em 1em 2em;
}
/**/